body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif!important;
}

/* BOVENSTE GEDEELTE */

.wrapper{
    height: 100vh;
}

.wrapper header{
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 100px;
    background: #BACAF2;
    width: 100%;
    box-sizing: border-box;
}

.wrapper header .logo img{
    width: 6vh;
    padding: 3px;
}

.wrapper header .logo{
    color: #fff;
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    float: left;
    font-weight: bold;    
}

.wrapper header nav{
    float: right;
}

.wrapper header nav ul{
    margin: 0;
    padding: 0;
    display: flex;
}

.wrapper header nav ul li{
    list-style: none;
}

.wrapper header nav ul li a{
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    color: #fff;
    text-decoration: none;
    display: block;
}

.wrapper header nav ul li a:hover, header nav ul li a.active{
    color: #000;
    background: #E3F0FF;
}

.menu-toggle{
     color: #fff;
     float: right;
     line-height: 50px;
     font-size: 24px;
     cursor: pointer;
     display: none;
}

@media (max-width: 991px){
    .wrapper  header{
        padding: 0 20px;
    }
    .menu-toggle{
        display: block;
    }
    .wrapper  header nav{
        position: absolute;
        width: 100%;
        height: calc(100vh - 50px);
        background: #333;
        top: 50px;
        left: -100%;
        transition: 0.5s;
    }

    .wrapper header nav.active{
        left: 0;
    }

    .wrapper header nav ul{
        display: block;
        text-align: center;
    }
    .wrapper header nav ul li a{
        border-bottom: 1px solid rgba(0,0,0,.2);
    }
}

/* ONDERSTE GEDEELTE */

.w3-bar{
    height: 10vh;
    padding: 0 100px!important;
    color: #fff!important;
    background-color: #BACAF2!important;
}

.w3-bar .w3-button {
    height: 100%;
    float: right!important;
}

.w3-bar .w3-bar-item {
   font-size: 15px!important;
}


.w3-bar .w3-button:hover, .w3-bar .w3-button.active{
    color: #000!important;
    background: #E3F0FF!important;
}

.city{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    justify-content: space-around;
    height: 90vh;
    position: absolute;
}

.items{
    width: 20%;
    height: 65%;
    background-color: #E3F0FF;
    display: flex!important;
    border: none;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    justify-content: space-around;
    -webkit-box-shadow: -1px 1px 5px 5px rgba(0,0,0,0.65);
    -moz-box-shadow: -1px 1px 5px 5px rgba(0,0,0,0.65);
    box-shadow: -1px 1px 5px 5px rgba(0,0,0,0.55);
}


#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #BACAF2;
    color: white;
    cursor: pointer;
    width: 50px;
    height: 50px;
    padding: 10px;
    border-radius: 50%;
  }
  

.copy{
    width: 75%;
}

.rose{
    width: 50%;
}

.cta{
    width: 40%;
    transform: translateX(76%);
    cursor: pointer;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.content P{
    font-size: 2.5em;
}

.content .copy{
    width: 20%;
}

.content .cta{
    width: 35%;
    margin-top: 40px;
    transform: translateX(95%);
}